In [21]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', '{:.6f}'.format)  # Show 6 decimal places

In [17]:
col_dict ={
 '0:0:1:0:0:255': 'Clock',
 '1:0:31:27:0:255': 'R_Current',
 '1:0:51:27:0:255': 'Y_Current',
 '1:0:71:27:0:255': 'B_Current',
 '1:0:32:27:0:255': 'R_Voltage',
 '1:0:52:27:0:255': 'Y_Voltage',
 '1:0:72:27:0:255': 'B_Voltage',
 '1:0:1:29:0:255': 'kWh',
 '1:0:9:29:0:255': 'kVAh',
 }

In [18]:
df =  pd.read_parquet(r"dags/data\jpdcl_hes_lf_dataset.parquet")
df.rename(columns=col_dict, inplace=True)
df

,R_Current,B_Voltage,B_Current,Y_Voltage,Clock,R_Voltage,kWh,Y_Current,kVAh,serial_no,location_id
0,0.00,0.0,0.00,0.0,2024-07-03 00:00:00.0,98.1,0.0,0.00,0.0,0010115180,6684eb0e00fa93.57742868
1,0.00,0.0,0.00,0.0,2024-07-03 00:00:00.0,98.2,0.0,0.00,0.0,0010115181,6684eb08653184.63221826
2,0.00,0.0,0.00,0.0,2024-07-03 00:00:00.0,98.0,0.0,0.00,0.0,0010115163,66839476c390a1.17209242
3,0.00,0.0,0.00,0.0,2024-07-03 00:00:00.0,98.1,0.0,0.00,0.0,0010115182,6684eb1329b903.76893720
4,0.00,0.0,0.00,0.0,2024-07-03 00:30:00.0,97.4,0.0,0.00,0.0,0010115180,6684eb0e00fa93.57742868
...,...,...,...,...,...,...,...,...,...,...,...
12605539,0.01,57.3,0.00,57.2,2024-09-01 09:00:00.0,57.2,0.0,0.00,1.0,0010116079,None
12605540,1.49,62.5,1.49,62.5,2024-08-11 04:00:00.0,62.3,136.0,1.46,139.0,0010116061,None
12605541,0.00,0.0,0.00,0.0,2024-08-15 13:00:00.0,0.0,0.0,0.00,0.0,0010116040,None
12605542,0.09,61.4,0.01,61.7,2024-08-15 13:00:00.0,61.5,1.0,0.09,4.0,0010116010,None
12605543,0.00,0.0,0.00,0.0,2024-08-15 13:00:00.0,0.0,0.0,0.00,0.0,0010116076,None

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12605544 entries, 0 to 12605543
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   R_Current    float64
 1   B_Voltage    float64
 2   B_Current    float64
 3   Y_Voltage    float64
 4   Clock        object
 5   R_Voltage    float64
 6   kWh          float64
 7   Y_Current    float64
 8   kVAh         float64
 9   serial_no    object
 10  location_id  object
dtypes: float64(8), object(3)
memory usage: 1.0+ GB

In [22]:
df.describe()

,R_Current,B_Voltage,B_Current,Y_Voltage,R_Voltage,kWh,Y_Current,kVAh
count,12605544.000000,12605544.000000,12605544.000000,12605544.000000,12605544.000000,12605544.000000,12605544.000000,12605544.000000
mean,0.587678,55.672642,0.586307,56.046743,56.116540,0.074919,0.589854,0.079985
std,0.646106,12.569642,0.647482,12.134119,11.650731,1.968651,0.650743,2.049102
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.030000,55.400000,0.020000,55.700000,55.600000,0.002000,0.030000,0.003000
50%,0.410000,58.800000,0.400000,58.900000,58.900000,0.030000,0.410000,0.034000
75%,0.910000,61.200000,0.900000,61.300000,61.300000,0.070000,0.910000,0.076000
max,8.240000,279.000000,11.640000,121.000000,117.700000,652.000000,8.240000,652.000000

In [10]:
df.nunique()

R_Current        630
B_Voltage       1270
B_Current        624
Y_Voltage       1411
Clock          10821
R_Voltage       1104
kWh             1293
Y_Current        929
kVAh            1312
serial_no       1610
location_id     1510
dtype: int64

In [11]:
df.isna().sum()

R_Current          0
B_Voltage          0
B_Current          0
Y_Voltage          0
Clock              0
R_Voltage          0
kWh                0
Y_Current          0
kVAh               0
serial_no          0
location_id    10897
dtype: int64

In [12]:
df['location_id'].unique()

array(['6684eb0e00fa93.57742868', '6684eb08653184.63221826',
       '66839476c390a1.17209242', ..., '67ab2ba253e9d3.28119150',
       '67ab2965850209.59239847', None], shape=(1511,), dtype=object)

In [ ]:
df[df['location_id']=="6684eb0e00fa93.57742868"]
# df['location_id']

,R_Current,B_Voltage,B_Current,Y_Voltage,Clock,R_Voltage,kWh,Y_Current,kVAh,serial_no,location_id
0,0.0,0.0,0.0,0.0,2024-07-03 00:00:00.0,98.100000,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868
4,0.0,0.0,0.0,0.0,2024-07-03 00:30:00.0,97.400000,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868
10,0.0,0.0,0.0,0.0,2024-07-03 01:00:00.0,96.400000,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868
14,0.0,0.0,0.0,0.0,2024-07-03 01:30:00.0,96.000000,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868
17,0.0,0.0,0.0,0.0,2024-07-03 02:00:00.0,96.299995,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868
...,...,...,...,...,...,...,...,...,...,...,...
12538493,0.0,60.6,0.0,61.3,2025-02-12 13:30:00.0,61.300000,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868
12538506,0.0,60.7,0.0,61.4,2025-02-12 14:00:00.0,61.500000,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868
12538537,0.0,60.8,0.0,61.5,2025-02-12 14:30:00.0,61.500000,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868
12538570,0.0,61.1,0.0,61.8,2025-02-12 15:00:00.0,61.700000,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868
12539519,0.0,61.2,0.0,61.9,2025-02-12 15:30:00.0,61.900000,0.0,0.0,0.0,0010115180,6684eb0e00fa93.57742868

In [19]:
df['location_id']

0           6684eb0e00fa93.57742868
1           6684eb08653184.63221826
2           66839476c390a1.17209242
3           6684eb1329b903.76893720
4           6684eb0e00fa93.57742868
                     ...
12605539                       None
12605540                       None
12605541                       None
12605542                       None
12605543                       None
Name: location_id, Length: 12605544, dtype: object

In [20]:
df

,R_Current,B_Voltage,B_Current,Y_Voltage,Clock,R_Voltage,kWh,Y_Current,kVAh,serial_no,location_id
0,0.00,0.0,0.00,0.0,2024-07-03 00:00:00.0,98.1,0.0,0.00,0.0,0010115180,6684eb0e00fa93.57742868
1,0.00,0.0,0.00,0.0,2024-07-03 00:00:00.0,98.2,0.0,0.00,0.0,0010115181,6684eb08653184.63221826
2,0.00,0.0,0.00,0.0,2024-07-03 00:00:00.0,98.0,0.0,0.00,0.0,0010115163,66839476c390a1.17209242
3,0.00,0.0,0.00,0.0,2024-07-03 00:00:00.0,98.1,0.0,0.00,0.0,0010115182,6684eb1329b903.76893720
4,0.00,0.0,0.00,0.0,2024-07-03 00:30:00.0,97.4,0.0,0.00,0.0,0010115180,6684eb0e00fa93.57742868
...,...,...,...,...,...,...,...,...,...,...,...
12605539,0.01,57.3,0.00,57.2,2024-09-01 09:00:00.0,57.2,0.0,0.00,1.0,0010116079,None
12605540,1.49,62.5,1.49,62.5,2024-08-11 04:00:00.0,62.3,136.0,1.46,139.0,0010116061,None
12605541,0.00,0.0,0.00,0.0,2024-08-15 13:00:00.0,0.0,0.0,0.00,0.0,0010116040,None
12605542,0.09,61.4,0.01,61.7,2024-08-15 13:00:00.0,61.5,1.0,0.09,4.0,0010116010,None
12605543,0.00,0.0,0.00,0.0,2024-08-15 13:00:00.0,0.0,0.0,0.00,0.0,0010116076,None